# Ignore everything in repository root 
/*

# Files/folders to not ignore
!/.gitignore
!/user-dirs.dirs
!/.redshiftgrc

# Folder to not ignore
!/alacritty/
!/dunst/
!/fontconfig/
!/gtk-3.0/
!/lf/
!/mpv/
!/neofetch/
!/newsboat/
!/nvim/
!/picom/
!/shell/
!/X11/
!/zathura/

#!/zsh/
#/zsh/histfile
!/zsh
/zsh/*
/zsh/histfile
