# Ignore everything in repository root 
/*

# Files to include
!/.gitignore
!/user-dirs.dirs
!/.redshiftgrc

# Folder to include
!/alacritty/
!/dunst/
!/fontconfig/
!/gtk-3.0/
!/lf/
!/mpv/
!/neofetch/
!/newsboat/
!/nvim/
!/picom/
!/shell/
!/X11/
!/zathura/

!/zsh/
!/zsh/*
/zsh/histfile
